*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.main-nav 
{
margin-top: 20px;
list-style: none;
padding: 10px;
background-color: goldenrod;
}
.main-nav__item
{
   
    display: inline-block;
}
.main-nav__item a
{
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
    background-color: black;
}
.main-nav__item a:hover
{
    color: gold;
}
.main-nav__item a:active
{
    color: greenyellow;
}
/* .main-nav__item a::after
{
    content: " | ";
} */
#titulo1
{
    width: 100%;
    height: 50px;
    border: 2px solid goldenrod;
    padding: 10px 10px;
}
